@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  margin: 35vh auto;
  width: 800px;
}

.modal-overlay {
  z-index: 1000;
}

.modal-container {
  z-index: 1100;
  max-width: 500px;
  width: 100%;
}

.modal-content {
  z-index: 1100;
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.card {
  width: 300px; /* Set a fixed width for the card */
  height: 200px; /* Set a fixed height for the card */
  perspective: 1000px; /* Enable 3D perspective */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s; /* Smooth transition for flip effect */
  transform-style: preserve-3d; /* Preserve 3D space for children */
}

.card.flipped .card-inner {
  transform: rotateY(180deg); /* Flip the card */
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back face when flipped */
}

.card-back {
  transform: rotateY(180deg); /* Rotate back face to be hidden initially */
}
